@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary_color: #1F2937;
    --secondary_color: #E5E7EB;
    --tertiary_color: #DC2626;
}

body{
    font-family: 'Ubuntu', sans-serif;
 }

.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 800px;
    margin: auto;
    text-align: center;
}


.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link{
    background-color: var(--primary_color);
    border-radius: 1rem;
    color: var(--tertiary_color);
}

.secondary-link{
    color: var(--tertiary_color);
    border-radius: 1rem;
    border: 1px solid var(--tertiary_color);
}

.list-nobullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color: var(--primary_color);
    color: var(--tertiary_color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;

}

.navigation .navigation-pos{
    text-align: right;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: large;

}

.navigation .link{
    color: var(--tertiary_color);
}

.navigation .link-active{
    font-weight: bold;
}

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    padding-top: 1rem;
    color: var(--primary_color);
    text-align: center;
}

.hero .hero-heading .hero-inverted{
    color: var(--tertiary_color);
}

.section{
    padding: 2rem;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section h1{
    text-align: center;
}

.section h5{
    text-align: center;
    font-weight: lighter;
}

.link-align{
    text-align: center;
}

.ow{
    background-color: var(--secondary_color);
}

.footer{
    background-color: var(--primary_color);
    color: var(--tertiary_color);
    padding: 1rem;
    border-top-right-radius: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.footer .footer-header{
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 1rem 2rem 0rem 2rem;
}

.footer .align{
    text-align: center;
    padding: 0rem 2rem 2rem 2rem;
}

.footer .link{
    color: var(--tertiary_color);
}

